.container {
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom, #768d87 5%, #697e7e 100%);
    background-color:#768d87;
    border-radius:7px;
    border:2px solid #566963;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding:10px 30px;
    text-decoration:none;
    text-shadow:1px 2px 0px #656565;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
}
.message {
    width: 400px;
    font-family:Arial;
    font-size:16px;
    font-weight:normal;
    text-align: center;
    margin: -10px 0 0 0;
    color:#a80000;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputContainer {
    padding: 12px 0 12px 0;
}
.input_fields {
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    color:#ffffff;
    text-decoration:none;
    text-shadow:1px 2px 0px #656565;
    width: 100%;
    height: 40px;
    padding: 6px 10px 6px 10px;
    display: block;
    border: none;
    background-color:#697e7e;
    border-bottom: 2px solid #ffffff;
    user-select:none;
}
input[type=button]{
    background-color: rgb(65, 65, 65);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 37%;
}